
.contener{

    display: flex;
   gap: 25px;


}
h4{
     position: absolute;
    bottom:100px;
    right:10px;
  color:#fffffe;
}
.price{
    position: absolute;
    bottom:36px;
    right:190px;
  color: #abd1c6;
    font-size: 25px;
}
.card{
    border-radius:30px;
     position: relative;
width: 250px;
height: 350px;
background-color:#004643;
}
.card-btn{
    position: absolute;
    bottom:15px;
    right: 54px;
border-radius:10px;
      background-color: rgb(90, 124, 38);
      color: #FFFFFF;
      width: 140px;
      height: 30px;
      border: none;
}
.card-btn:hover{
    background-color: rgb(55, 80, 37);
    cursor:pointer;
}
.card-img{
position: absolute;
border-radius: 12%;

}
.card-p{
    color: #abd1c6;
    position: absolute;
    bottom:90px;
    right:160px;
}
